<div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-collapse collapse" style="padding-left: 0px">
            <ul class="nav navbar-nav">
                <li><a href="~/DePara/Editar/0" title="Adicionar">
                    <div class="btn-adicionar btn-img">
                    </div>
                </a></li>
                <li><a href="~/Log/Exibir" title="Exibir Log">
                    <div class="btn-log btn-img">
                    </div>
                </a></li>
            </ul>
        </div>
    </div>
</div>
