<div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-collapse collapse" style="padding-left: 0px">
            <ul class="nav navbar-nav">
                <li><a href="~/">
                    <div class="btn-home btn-img" title="Início">
                    </div>
                </a></li>
                <li><a href="~/">
                    <input type="submit" name="salvar" value="" class="btn-salvar btn-img" title="Salvar" />
                </a></li>
            </ul>
        </div>
    </div>
</div>
