<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>
		<!--Nome do Sistema-->
		<add key="nomeSistema" value="STA - Sistema de Transferência de Arquivos" />
		<!--Nome do Servidor de Correio Eletronico-->
		<add key="nomeServidorCorreio" value="10.1.1.17"/>
		<!--Dominio do Correio Eletronico-->
		<add key="dominioCorreio" value="itambe.com.br"/>
		<!--Parametros de configuracao para acesso ao Active Directory-->
		<add key="nomeServidorAD" value="itambe.com"/>
		<add key="contaAD" value="master" />
		<add key="senhaAD" value="Fevd70+9DWvUPAxtLp6ReA==" />
		<!--Início dos ips dos servidores web-->
		<add key="IpInicialServidorLan" value="10.1." />
		<add key="IpInicialServidorDmz" value="172.50." />
		<!--Parametros de Banco de Dados (SQL Server)-->
		<add key="nomeServidor" value="orion" />
		<add key="nomeBanco" value="db_sta" />
		<add key="usuarioNome" value="sta" />
		<add key="usuarioSenha" value="8nOxbEcsE6oKJ6WzPcUFSw==" />
   
		<!-- Parametros do usuario para mapear unidade -->
		<add key="usuarioMapeamento" value="dmzccpr\sta" />
		<add key="senhaUsuarioMapeamento" value="stasysitambe" />
		<add key="unidadeMapeamento" value="P:" />
		<add key="executarPrograma" value="cmd.exe" />
		   
		<!--Diretório que armazenam os arquivos-->
		<add key="diretorioArquivos" value="\\172.50.0.52\arqtransacoes\" />
		<!--URL de acesso ao sistema. Link usado para impressão no corpo dos emails-->
		<add key="URLSiteInterno" value="http://sta.itambe.com" />
		<add key="URLSiteExterno" value="https://www.sta.itambe.com.br" />
	</appSettings>

	<system.web>

		<compilation defaultLanguage="vb" debug="false" />

		<customErrors mode="Off"/>

		<authentication mode="Forms">
			<forms name="authCookie" loginUrl="login.aspx" protection="All" timeout="20" path="/" />
		</authentication>

		<authorization>
			<allow users="?"/>
		</authorization>

		<identity impersonate="false" />

		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>

		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>

		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>


		<httpRuntime
			executionTimeout="150"
			maxRequestLength="153600"
		/>

		<!--Tamanho máximo do arquivo para upload-->




		<!--Tamanho máximo do arquivo para upload-->


	</system.web>

	<location path="pages">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>

</configuration>