<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DirArquivoLog" value="G:\sta\logs" />
		<add key="DirRaizIIS" value="\\europa\arqtransacoes\externo" />
		<add key="ServidorCorreio" value="10.1.1.35" />
		<add key="FTPUsuario" value="sta" />
		<add key="FTPSenha" value="syssta" />
		<add key="FTPServidor" value="10.1.1.12" />
		<add key="SQLBanco" value="db_sta" />
		<add key="SQLServidor" value="orion" />
		<add key="SQLUsuario" value="sta" />
		<add key="SQLSenha" value="syssta" />
		<add key="URLSite" value="https://www.sta.itambe.com.br" />
	</appSettings>
</configuration>